{
    font-family: Arial, sans-serif;
    font-size: 16px;

}

body {
    background-color: #f60000;
    color: #333;
    margin: 0;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}